<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
</head>
<body>
    <h1>All Students</h1>
    <div>
        <a href="/students/new">Add New Student</a>
    </div>
    <ul>
        <% for(let student of students) {%>
            <li><a href="/students/<%= student._id %>"><%= student.name %></a></li> 
        <% } %> 
    </ul>
</body>
</html>